html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#wrapper {
    border: solid 1px #0d6efd;
}

#surface {
    width: 600px;
    height: 600px;
}
